<nav class="navbar navbar-default banner">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/wizard">
        DndMe
      </a>
    </div>
    <!--
    <ul class="nav navbar-nav">
      <li>
        <a
          onselect="navSelected"
           routerLink="/classes"
           routerLinkActive="active">
          Classes
        </a>
      </li>
      <li>
        <a onselect="navSelected"
           routerLink="/races"
           routerLinkActive="active">
          Races
        </a>
      </li>
    </ul> -->
  </div>
</nav>

