.line-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.line{
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem var(--color-grey);
  z-index: -1;
  margin: 0;
  position: absolute;
}


.continue{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  padding-top: 20px;
  padding-bottom: 20px;

}

.disable{
  color: var(--color-grey)
}

.wizard-item {
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: center;
}

.full-circle {
  height: 50px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  box-shadow: 0 0 1rem var(--color-prim-shade);
  border: 2px solid var(--color-white);
}

.wizard-name{
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: var(--color-prim-shade);
}

div .glyphicon-map-marker{
  background-color: var(--color-strong);
}

div .glyphicon-ok{
  background-color: var(--color-prim);
  cursor: pointer;
}

div .glyphicon-remove{
  background-color: var(--color-sec);
}


.full-circle,.glyphicon-ok:hover{
  transition: all .07s ease;
  box-shadow: #9C5753;
  height: 70px;
  width: 70px;
}


.full-circle:active{
  background-color: #539C6F;
  height: 50px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 50px;
}

.sidebar{
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 4px;
  background-color: var(--color-white);
  box-shadow: 5px 10px 0px var(--color-prim-shade) ;
  color: var(--color-grey);
  padding-left: 0;
  padding-right: 0;
}

.content{
  margin-top: 20px;
  border-radius: 4px;
  padding-right: 0;
}


