<div class="container">
  <div class="row line-wrapper">
    <div class="line"></div>
    <div *ngFor="let item of wizardItems"
         class="col-xs-4 wizard-item ">
      <div
        (click)="onStepClick(item)"
        [ngClass]="item.step === currentWizardItem.step ? 'glyphicon-map-marker' : (item.step < currentWizardItem.step ? 'glyphicon-ok' :'glyphicon-remove')"
        class="full-circle glyphicon">
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of wizardItems" class="col-xs-4 wizard-item wizard-name">
      {{item.name.toUpperCase()}}
    </div>
  </div>
</div>

<div class="container">
  <button
    id="btn_continue"
    *ngIf="currentItem"
    (click)="saveClass()"
    class="btn continue card">
    Continue as a {{currentItem.name}}
  </button>
  <button
    *ngIf="!currentItem"
    class="btn continue card disable">
    Continue
  </button>

<app-sidebar class="col-md-3 sidebar" [items]="contentItems"  (itemSelectEvent)="selectItem($event)"></app-sidebar>
<app-content class="col-md-9 content" [item]="currentItem"></app-content>
</div>
