.line-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.line{
  width: 100%;
  height: 2px;
  background-color: #222222;
  z-index: -1;
  margin: 0;
  position: absolute;
}
.wizard-container {
  display: flex;
  flex-direction: row;
}

.wizard-container .wizard-item{
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 5 ;
}

.wizard-container .wizard-item {
  width:70px;
  align-items: center;
  text-align: center;

}

.wizard-container .wizard-item .wizard-item-step {
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.full-circle {
  background-color: #9C5753;
  height: 50px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 50px;
}

.done{
  background-color: #539C6F;
}

.full-circle:hover{
  background-color: #9C5753;
}


.full-circle:active{
  background-color: #539C6F;
  height: 50px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 50px;
}
